.head{
  padding-right: 40px;
  align-items: center;
  /* text-align: center; */
  padding-top: 20px;
  margin-bottom: 5px;
 

}
.he1{
  float: left;
  margin-left: 400px;
  margin-bottom: 20px;
  
  /* height: 20px; */
}


