/* .font{
    font-family: New Century Schoolbook, TeX Gyre Schola;
    font-size: 20px;
    
    border: 1px solid black;
    background-color: white;
    padding: auto;
    margin: auto;

    
}
.btn{
    width: 80px;
    
    border-radius: 20px;
    border-color: white;
    height: 40px;
    background: #CADCFC;
    color: black;
    font-size: 15px;
}
.name
{
    background: #CADCFC;
}
.font1 {
    
      border: 3px solid black;
      border-radius: 18px;
} */